{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Технологии
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Страница с информацией об использованных технологиях (?), очевидно
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>Для создания сайта использовал: django, python, VSC, боль в 3:31 утра из-за того, что картинка в author.html отказывается грузиться.</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 