{% extends "base.html" %}
{% block title %}{{ author.get_full_name }} | @{{ username }}{% endblock %}
{% block header %}Профиль пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}

{% include "includes/user_stats.html" %}
{% load cache %}
{% cache 20 post_list_profile %}
{% for post in page %}
  {% include "includes/post_item.html" with post=post %}
{% endfor %}
{% endcache %}

{% if page.has_other_pages %}
  {% include "paginator.html" with items=page paginator=paginator%}
{% endif %}

{% endblock %} 
